html{
    overflow-x: hidden;
}
#what .items{
    display: block;
    padding: 1rem;
}

#what .items .item{
    display: flex;
    text-align: left;
    }
  #what .items .item i{
        margin-right: 1.3rem;
        align-self: center;
        margin-bottom: 0;
    }

    @media(max-width:500px){
       
        #navbar{
            flex-direction: column;
            align-items: center;
        }
        #navbar .logo{
            margin-bottom: 1rem;
            text-align: center;
        }
        #navbar ul{
            padding: 0.5rem;
        }
        #showcase .showcase-content{
            top: 110px;
            margin-top: -2rem;
        }
        #who {
            display: block;
        }
        #who .who-img{
            display: none;
        }
        #clients{
            height: 20vh;
        }
        #clients .items{
            display: flex;
            margin: 1rem 0;
        
        }
        
        #clients .items img {
            width: 80%;
        }
        #cients .items div:last-child{
            display: none;
        }
        #contact{
            height: 500px;
        }

    }
    @media(max-height:568px){
        .h-heading{
            font-size: 2rem;
        }
        #showcase .showcase-content{
            top: 130px;
            margin-top: -2rem;
        }
    }